NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AI_API_KEY=
AI_BASE_URL=https://api.featherless.ai/v1
AI_MODEL=AdaptLLM/medicine-chat
AI_FALLBACK_MODELS=Henrychur/MMed-Llama-3-8B,baichuan-inc/Baichuan-M2-32B
AI_MAX_TOKENS=3500
